body {
  background-image: url("./images/newstype2.jpg");
}

.brand-logo {
  margin-left: 20px;
}

.nav-wrapper {
  background-color: #8f6d7d;
}
.btn {
  background-color: #ccbeb3;
  color: black;
}
.btn:hover {
  background-color: #5e7997;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
.page-footer {
  background-color: #8f6d7d;
  padding-top: 0;
  text-align: center;
}
p {
  color: white;
  font-weight: 600;
  font-size: 22px;
}
#articles {
  /* background-color: rgba(0, 0, 0, 0.8); */
  background-color: #8f6d7d;
  padding: 10px 50px;
  margin-top: 20px;
}
a {
  color: black;
  font-size: 18px;
}
